{% extends 'base.html' %}

{% load static %}

{% block content %}
    <ul>        
        {% for obj in object_list %}
        
        <li>
            {{ obj }}
            <strong>{{ obj.age }} años</strong>
            <a href="{% url 'core:edit' obj.pk %}" class="btn btn-link">Editar</a>
            <a href="{% url 'core:delete' obj.pk %}" class="btn btn-link">Eliminar</a>
        </li>

        {% if obj.photo %}
        <img src="{{ obj.photo.url }}" alt="{{ obj.name }}" width="200">  
        {% endif %}

        {% empty %}
        <li>No hay registros</li>
        {% endfor %}
            
    </ul>
    <hr>
    <a href="{% url 'core:add' %}" class="btn btn-primary">Agregar</a>
    <a href="{% url 'core_api:list' %}" class="btn btn-danger">Ver API</a>
  
{% endblock content %}

{% block staticfiles %}
    <script src="{% static 'js/main.js' %}"></script>    
{% endblock staticfiles %}
